
.products-header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-item {
  width: 30%;
  margin: 10px;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.product-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.add-product-button {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  outline: none;
}

.add-product-button:hover {
  background-color: #555;
}
